body {
  overflow-y: scroll;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(rgba(48,48,48,1) 0%,rgba(48,48,48,1) 5.89%, rgba(34,34,34,1) 5.8%, rgba(34,34,34) 100%);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*background-color: #3A3A3A;*/
  background-color: #404040;
}

main {
  min-height: 80vh;
}

.project-card {
  width: 18.1rem;
  height: 15rem;
}

.project-img {
  height: 11rem !important;
  width: 18rem !important;
  object-fit: cover;
}

.project-bar-img {
  height: 10rem !important;
  width: 16rem !important;
  object-fit: cover;
}

.project-bar-gradient {
  background-image: linear-gradient(
    to bottom,
    rgba(48, 48, 48, 0.35),
    rgba(48, 48, 48, 0.45),
    rgba(48, 48, 48, 0.8),
    rgba(48, 48, 48, 1.95)
  );
  height: 5rem;
  width: 16rem;
  position: absolute;
  top: 5rem;
}

.project-top-bar {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.project-top-bar-gradient {
  position: absolute;
  top: 9px;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(48, 48, 48, 0.35),
    rgba(48, 48, 48, 0.65),
    rgba(48, 48, 48, 0.95),
    rgba(48, 48, 48, 1)
  );
}

.review-card {
  width: 18.1rem;
  height: 17rem;
}

.review-img {
  height: 11rem !important;
  width: 18rem !important;
  object-fit: cover;
}

.title-card {
  font-size: 20px;
  /*min-height: 50px;*/
  /*text-overflow: ellipsis; */
  /*white-space: nowrap; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
  padding: 0px;
}

.rp-progress-control {
  background-color: #3a3a3a;
  min-height: 1.2rem;
  position: relative;
}

.rp-progress-holder {
  background-color: #adb5bd;
  min-height: 0.4rem;
  /*margin-top: 1.3rem;*/
  position: absolute;
  width: 100%;
}

.rp-play-progress {
  background-color: #c44133;
  min-height: 0.4rem;
  position: relative;
}

.rp-play-progress:before {
  display: none;
  font-family: 'Font Awesome 5 Free';
  position: absolute;
  top: -0.5rem;
  right: -0.5em;
  font-size: 0.9em;
  font-weight: bold;
  content: '\f111';
}

.playback-controls {
  background-color: #3a3a3a !important;
  border-radius: 0 0 0.25rem 0.25rem;
}

.rp-volume-control {
  /*min-height: 36px;*/
  position: relative;
  width: 5rem;
  display: inline-block;
}

.rp-volume-holder {
  background-color: #adb5bd;
  /*min-height: 0.2rem;*/
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -14px;
  width: 100%;
}

.rp-volume-range {
  background-color: #c44133;
  min-height: 0.2rem;
  position: relative;
}

.rp-volume-range:before {
  font-family: 'Material Icons Round';
  position: absolute;
  top: -0.6rem;
  right: -0.5em;
  font-size: 0.9em;
  font-weight: bold;
  content: '\e061';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn-clear {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.play-list-bottom {
  /* position: fixed;
  bottom: 0%; */
  background-color: black;
  min-height: 8rem;
}

.feedback {
  background-color: black;
  min-height: 8rem;
}

.feed-edit:hover {
  color: #3498db !important;
}

.feed-del:hover {
  color: #e74c3c !important;
}

.review-buttons {
  transition: 0.3s;
}

.review-button-upload {
  transition: 0.3s;
}

.review-button-collaborator {
  transition: 0.3s;
}

.review-button-settings {
  transition: 0.3s;
}

.review-buttons:hover {
  background-color: #505050 !important;
}

.review-buttons:hover .review-button-upload {
  color: #00bc8c !important;
}

.review-buttons:hover .review-button-collaborator {
  color: #3498db !important;
}

.review-buttons:hover .review-button-settings {
  color: #adb5bd !important;
}

.nav-user-icon {
  border: 2px solid #00bc8c;
}

.nav-user-icon:hover {
  border: 2px solid #008966;
}

.nav-link::after {
  display: none;
}

/* loading dots */
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/*Blink animation*/
.blink {
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
        animation: blink-animation 1s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
/*Blink animation end*/


/* Start circle ripple animation*/
.circle_ripple{
  height:50px;
  width:50px;
  background:#36B37E;
  border-radius:50%;
  -webkit-animation-name: ripple 2s infinite; 
  animation: ripple 2s infinite;
  position:absolute;
  /*left:5px;*/
  /*top:105px;*/
  /*z-index:1;*/
  /*transform: translate(5px, 5px);*/
}
.circle_ripple-2{
  height:50px;
  width:50px;
  background:#36B37E;
  border-radius:50%;
  -webkit-animation-name: ripple 2s infinite; 
  animation: ripple-2 2s infinite;
  position:absolute;
 /*left:5px;*/
  /*top:105px;*/
}

@keyframes ripple {
 0% {
transform:scale(1);
  }
  50% {
transform:scale(2);
    opacity:0.3;
  }
 100% {
transform:scale(1);
   
  }  
}
@keyframes ripple-2 {
 0% {
transform:scale(1);
  }
  50% {
transform:scale(2.5);
    opacity:0.3;
  }
 100% {
transform:scale(1);
  }  
}
/* End circle ripple animation*/

.scrollbar {
  background: #303030;
}

#style-1::-webkit-scrollbar-track {
  background-color: #303030;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #303030;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*background-color: #3A3A3A;*/
  background-color: #606060;
}

#style-1::-webkit-scrollbar:horizontal {
  display: none;
}

/*#style-2::-webkit-scrollbar-track {*/
/*background-color: none;*/
/*}*/

#style-2::-webkit-scrollbar {
  width: 5px;
  /*background-color: #303030;*/
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /*background-color: #3A3A3A;*/
  background-color: #303030;
}

#style-2::-webkit-scrollbar:horizontal {
  display: none;
}

.outer-wrapper::-webkit-scrollbar {
  height: 5px;
}

.outer-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.outer-wrapper::-webkit-scrollbar-thumb {
  /*height: 5px;*/
  border-radius: 10px;
  background-color: #606060;
}

.outer-wrapper::-webkit-scrollbar-thumb:hover {
  /*background-color: #f1db9d;*/
}

.outer-wrapper::-webkit-scrollbar:vertical {
  display: none;
}

.row [class*='col-'] {
  transition: all 0.5s ease-in-out;
}

/*@media (min-width: 1200px) {*/
/*.container{*/
/*max-width: 1140px;*/
/*}*/
/*}*/

/*@media (min-width: 2560px) {*/
/*.container{*/
/*max-width: 1320px;*/
/*}*/
/*}*/
